<nav>
   <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center"> Pokedex

    </a>
   </div>

</nav>
<router-outlet></router-outlet>
















<!--l interpolation va nous permettre d afficher le nom de nos 12 pokemons -->

<!--<input
#input  
(keyup.enter)="selectPokemon(input.value)"

type="number"
>
<p *ngIf="pokemonSelected">
    Ihr pokemon ist: {{pokemonSelected.name}}.</p>
<p *ngIf="!pokemonSelected">
    Sie haben nichts ausgewählt</p>-->


   
<!--<p>{{pokemonList[0].name}}</p>
<p>{{pokemonList[1].name}}</p>
<p>{{pokemonList[2].name}}</p>
<p>{{pokemonList[3].name}}</p>
<p>{{pokemonList[4].name}}</p>
<p>{{pokemonList[5].name}}</p>
<p>{{pokemonList[6].name}}</p>
<p>{{pokemonList[7].name}}</p>
<p>{{pokemonList[8].name}}</p>
<p>{{pokemonList[9].name}}</p>
<p>{{pokemonList[10].name}}</p>
<p>{{pokemonList[11].name}}</p>
 LA LIGNE DU DESSUS REMPLACE CE CODE-->

